#Web scraping and Extracting Data using APIs

###Step 1: Install required libraries

In [21]:
# Install necessary libraries
!pip install pandas beautifulsoup4

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.12.3)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

###Step 2: Import libraries

In [22]:
# Import required libraries
import requests
import sqlite3
import pandas as pd
from bs4 import BeautifulSoup

###Step 3: Initialization

In [23]:
# Initialize variables
url = 'https://web.archive.org/web/20230902185655/https://en.everybodywiki.com/100_Most_Highly-Ranked_Films'
db_name = 'Movies.db'
table_name = 'Top_50'
csv_path = 'top_50_films.csv'
df = pd.DataFrame(columns=["Average Rank", "Film", "Year"])
count = 0

###Step 4: Fetch and parse the webpage

In [24]:
# Fetch the HTML content of the webpage
html_page = requests.get(url).text

# Parse the HTML using BeautifulSoup
data = BeautifulSoup(html_page, 'html.parser')

###Step 5: Extract relevant information

In [25]:
# Find the first table and extract rows
tables = data.find_all('tbody')
rows = tables[0].find_all('tr')

# Loop through rows to get data
for row in rows:
    if count < 50:
        col = row.find_all('td')
        if len(col) != 0:
            data_dict = {
                "Average Rank": col[0].contents[0],
                "Film": col[1].contents[0],
                "Year": col[2].contents[0]
            }
            df1 = pd.DataFrame(data_dict, index=[0])
            df = pd.concat([df, df1], ignore_index=True)
            count += 1
    else:
        break

###Step 6: Save data to a CSV file

In [27]:
# Save the DataFrame to a CSV file
df.to_csv(csv_path, index=False)
print(f"Data saved to {csv_path}")

Data saved to top_50_films.csv

###Step 7: Save data to an SQLite database

In [28]:
# Save the DataFrame to a SQLite database
conn = sqlite3.connect(db_name)
df.to_sql(table_name, conn, if_exists='replace', index=False)
conn.close()
print(f"Data saved to database {db_name} in table {table_name}")

Data saved to database Movies.db in table Top_50

###Step 8: Verify the DataFrame

In [29]:
# Display the DataFrame
print(df)

   Average Rank                                           Film  Year
0             1                                  The Godfather  1972
1             2                                   Citizen Kane  1941
2             3                                     Casablanca  1942
3             4                         The Godfather, Part II  1974
4             5                            Singin' in the Rain  1952
5             6                                         Psycho  1960
6             7                                    Rear Window  1954
7             8                                 Apocalypse Now  1979
8             9                          2001: A Space Odyssey  1968
9            10                                  Seven Samurai  1954
10           11                                        Vertigo  1958
11           12                                    Sunset Blvd  1950
12           13                                   Modern Times  1936
13           14                             Lawrence of Arabia  1962
14           15                             North by Northwest  1959
15           16                                      Star Wars  1977
16           17                                       Parasite  2019
17           18                               Schindler's List  1993
18           19  Lord of the Rings: The Fellowship of the Ring  2001
19           20                           Shawshank Redemption  1994
20           21                          It's a Wonderful Life  1946
21           22                                   Pulp Fiction  1994
22           23                              Avengers: Endgame  2019
23           24                                    City Lights  1931
24           25                One Flew Over the Cuckoo's Nest  1975
25           26                                     Goodfellas  1990
26           27                        Raiders of the Lost Ark  1981
27           28                                   12 Angry Men  1957
28           29                       The Silence of the Lambs  1991
29           30                                    Taxi Driver  1976
30           31                            Saving Private Ryan  1998
31           32                     E.T. the Extra Terrestrial  1982
32           33                                          Alien  1979
33           34              Spider-Man: Into the Spider-verse  2018
34           35                                   Blade Runner  1982
35           36                               Double Indemnity  1944
36           37                                The Dark Knight  2008
37           38                               The Wizard of Oz  1939
38           39  Star Wars: Episode V- The Empire Strikes Back  1980
39           40                                  The Searchers  1956
40           41                             Mad Max: Fury Road  2015
41           42                                      Inception  2010
42           43          Lord of the Rings: Return of the King  2003
43           44                                     The Matrix  1999
44           45                                     Fight Club  1999
45           46                             Back to the Future  1985
46           47                          It Happened One Night  1934
47           48                The Good, the Bad, and the Ugly  1966
48           49              Lord of the Rings: The Two Towers  2002
49           50                                  All About Eve  1950